<div class="container">
  <div class="row blog-grid" style="margin-top: -200px;">
    <div class="col-md-4 post-item">

      <!-- Post-->
      <article class="post" *ngFor="let project of projects">

        <div class="post-preview">
          <a [href]="project.link">
            <img [src]="project.image" [alt]="project.imageDescription | translate">
          </a>
          <div class="post-category">
            <a [href]="project.link" *ngFor="let category of project.categories">{{category | translate}} </a>
          </div>
        </div>
        <div class="post-wrapper">
          <div class="post-header">
            <h2 class="post-title">
              <a [href]="project.link">{{project.title | translate}}</a>
            </h2>
          </div>
          <div class="post-content">
            <p>{{project.description | translate}}</p>
          </div>
        </div>
      </article>
      <!-- Post end-->
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="text-center">
        <div class="spacer m-b-30"></div>
        <a class="btn btn-brand" href="#"><span>View All Posts</span></a>
      </div>
    </div>
  </div>
</div>
