<div class="wrapper">

  <!-- Preloader -->

  <div id="preloader">
    <div id="status">
      <div class="status-mes"><h4 translate="APP.NAME">Arnau García</h4></div>
    </div>
  </div>

  <!-- Navigation start -->

  <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only" translate="NAVBAR.NAME">Navegación</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><div translate="APP.NAME">Arnau García</div> </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#intro" translate="NAVBAR.HOME">Home</a></li>
          <li><a href="#profile" translate="NAVBAR.PROFILE">Profile</a></li>
          <li><a href="#services" translate="NAVBAR.SERVICES">Services</a></li>
          <li><a href="#resume" translate="NAVBAR.RESUME">Resume</a></li>
          <li><a href="#clients" translate="NAVBAR.TECHNOLOGIES">Technologies</a></li>
          <li><a href="#portfolio" translate="NAVBAR.PROJECTS">Portfolio</a></li>
          <li><a href="#contact" translate="NAVBAR.CONTACT">Contact</a></li>
          <li class="dropdown" *ngIf="translate.getLangs().length > 1">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" translate="NAVBAR.LANGUAGES.TITLE">Languages
              <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <!-- <li *ngFor="let lang of translate.getLangs()"><a (click)="translate.use(lang)" translate="{{'NAVBAR.LANGUAGES.' + lang.toUpperCase()}}">LANGUAGE</a></li> -->
              <li *ngFor="let lang of translate.getLangs()"><a (click)="changeLanguage(lang)" translate="{{'NAVBAR.LANGUAGES.' + lang.toUpperCase()}}">LANGUAGE</a></li>
            </ul>
          </li>
        </ul>
      </div>

    </div>
  </nav>

  <!-- Navigation end -->

  <!-- Intro section start -->

  <section id="intro" class="section">

    <div class="container">

      <div class="row">

        <div class="col-md-12">

          <div class="hello wow bounceInDown">
            <h1 translate="INTRO.TITLE">Hello, I'm Arnau García</h1>
            <h3><span class="rotate">{{ 'INTRO.SUBTITLE' | translate }}</span></h3>
          </div>

          <a href="#profile">
            <div class="mouse-icon">
              <div class="wheel"></div>
            </div>
          </a>

        </div>

      </div><!-- .row -->

    </div><!-- .container -->

  </section>

  <!-- Intro section end -->

  <!-- Profile contact callout section -->

  <section id="profile-contact">

    <div class="container">

      <div class="row">

        <div class="col-sm-4 wow bounceInLeft">
          <div class="profile-item">
            <i class="fa fa-envelope-o"></i>
            <h5><a href="#contact" translate="PROFILE-CONTACT.EMAIL">arnau.garcia.gallego@gmail.com</a></h5>
          </div>
        </div>

        <div class="col-sm-4 wow bounceInUp">
          <div class="profile-item">
            <i class="fa fa-phone"></i>
            <h5 translate="PROFILE-CONTACT.PHONE">692 46 46 45</h5>
          </div>
        </div>

        <div class="col-sm-4 wow bounceInRight">
          <div class="profile-item">
            <i class="fa fa-map-marker"></i>
            <h5><a href="#contact" translate="PROFILE-CONTACT.ADDRESS">Torrelles de Llobregat</a></h5>
          </div>
        </div>

      </div><!-- .row -->

    </div><!-- .container -->

  </section>

  <!-- Profile contact callout section -->

  <!-- Profile section start -->

  <section id="profile" class="section">

    <div class="container">

      <div class="row">

        <div class="col-md-12 headline wow bounceInDown">
          <h2 translate="PROFILE.TITLE">Arnau García Gallego</h2>
          <p translate="PROFILE.SUBTITLE">Desarollador Web | Técnico Informático | Programador multiplataforma</p>
        </div>

        <div class="col-md-3 col-sm-6 hidden-xs wow bounceInLeft">
          <img class="avatar" src="assets/images/photo.jpg" alt="Arnau Garcia">
        </div>

        <div class="col-md-3 col-sm-6 wow bounceInUp">
          <div class="profile-widget">
            <h3 translate="PROFILE.SKILLS.TITLE">HABILIDADES</h3>
            <h5 translate="PROFILE.SKILLS.SKILL1">Java</h5>
            <div class="skill-bar">
              <div class="skill-rate-on"></div>
              <div class="skill-rate-on"></div>
              <div class="skill-rate-on"></div>
              <div class="skill-rate-on"></div>
            </div>
            <h5 translate="PROFILE.SKILLS.SKILL2">HTML / CSS3 / JAVASCRIPT</h5>
            <div class="skill-bar">
              <div class="skill-rate-on"></div>
              <div class="skill-rate-on"></div>
              <div class="skill-rate-on"></div>
              <div class="skill-rate-off"></div>
            </div>
            <h5 translate="PROFILE.SKILLS.SKILL3">Spring</h5>
            <div class="skill-bar">
              <div class="skill-rate-on"></div>
              <div class="skill-rate-on"></div>
              <div class="skill-rate-on"></div>
              <div class="skill-rate-off"></div>
            </div>
            <h5 translate="PROFILE.SKILLS.SKILL4">Angular</h5>
            <div class="skill-bar">
              <div class="skill-rate-on"></div>
              <div class="skill-rate-on"></div>
              <div class="skill-rate-on"></div>
              <div class="skill-rate-off"></div>
            </div>
          </div>

          <div class="profile-widget">
            <h3 translate="PROFILE.SOCIAL">REDES SOCIALES</h3>

            <ul class="widget-social">
              <li><a href="https://twitter.com/arnaugarcia97"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://github.com/arnaugarcia/"><i class="fa fa-github-alt"></i></a></li>
              <li><a href="https://plus.google.com/u/0/115308825430008281335"><i class="fa fa-google-plus"></i></a></li>
            </ul>

          </div>

        </div><!-- .col-md-3 -->

        <div class="col-md-6 col-sm-12 wow bounceInRight">
          <h3 translate="PROFILE.TEXT.TITLE">ACERCA DE MI</h3>
          <p translate="PROFILE.TEXT.PARAGRAPH1">Soy un informático con ganas de cambiar el mundo y aportar nuevas cosas tanto a empresas como personales. Mi curiosidad para la informática y la programación empezó desde muy pequeño y aún sigue en aumento, día tras día sin perder las ganas de aprender y superarme.</p>
          <p translate="PROFILE.TEXT.PARAGRAPH2">Actualmente estoy diseñando varios proyectos personales y ampliando mis conocimientos en informática/programación.</p>
        </div>

      </div><!-- .row -->

    </div><!-- .container -->

  </section>

  <!-- Profile section end -->

  <!-- Services section start -->

  <section id="services" class="section">

    <div class="container">

      <div class="row">

        <div class="col-md-12 headline wow bounceInDown">
          <h2 translate="SERVICE.TITLE">Lo que me encanta hacer</h2>
          <p translate="SERVICE.SUBTITLE">Lo que mi experiencia y dedicación me han proporcionado</p>
        </div>

        <div class="col-md-12">

          <div class="row">

            <div class="col-sm-4 wow bounceInUp">
              <div class="service">
                <div class="icon">
                  <i class="fa fa-code"></i>
                </div>
                <h4 translate="SERVICE.SERVICES.SERVICE1.TITLE">Web Development</h4>
                <div class="text">
                  <p translate="SERVICE.SERVICES.SERVICE1.TEXT">I am able to develop static websites as well as complex web applications to fulfil specific requirements within the given deadline.</p>
                </div>
              </div>
            </div>

            <div class="col-sm-4 wow bounceInUp">
              <div class="service">
                <div class="icon">
                  <i class="fa fa-laptop"></i>
                </div>
                <h4 translate="SERVICE.SERVICES.SERVICE2.TITLE">Responsive Design</h4>
                <div class="text">
                  <p translate="SERVICE.SERVICES.SERVICE2.TEXT">Responsiveness is a must. I am comfortable working with technologies such as Bootstrap, LESS and SASS in order to quick-start an application.</p>
                </div>
              </div>
            </div>

            <div class="col-sm-4 wow bounceInUp">
              <div class="service">
                <div class="icon">
                  <i class="fa fa-mobile-phone"></i>
                </div>
                <h4 translate="SERVICE.SERVICES.SERVICE3.TITLE">UX & UI</h4>
                <div class="text">
                  <p translate="SERVICE.SERVICES.SERVICE3.TEXT">I focus on constant user testing in order to deliver the best User Experience as possible.</p>
                </div>
              </div>
            </div>

          </div><!-- .row -->

          <div class="row">

            <div class="col-sm-4 wow bounceInUp">
              <div class="service">
                <div class="icon">
                  <i class="fa fa-server"></i>
                </div>
                <h4 translate="SERVICE.SERVICES.SERVICE4.TITLE">Web Server Implementation & Architecture</h4>
                <div class="text">
                  <p translate="SERVICE.SERVICES.SERVICE4.TEXT">I have been around technologies such as AWS which has helped me understand how to design the infrastructure for complex applications.</p>
                </div>
              </div>
            </div>

            <div class="col-sm-4 wow bounceInUp">
              <div class="service">
                <div class="icon">
                  <i class="fa fa-database"></i>
                </div>
                <h4 translate="SERVICE.SERVICES.SERVICE5.TITLE">Database Management</h4>
                <div class="text">
                  <p translate="SERVICE.SERVICES.SERVICE5.TEXT">I am able to design the schema for a Database in technologies such as MySQL and SQL Server. I have also worked with non relational Databases such as MongoDB.</p>
                </div>
              </div>
            </div>

            <div class="col-sm-4 wow bounceInUp">
              <div class="service">
                <div class="icon">
                  <i class="fa fa-lock"></i>
                </div>
                <h4 translate="SERVICE.SERVICES.SERVICE6.TITLE">Web Security</h4>
                <div class="text">
                  <p translate="SERVICE.SERVICES.SERVICE6.TEXT">My main aim is to keep all the information provided by the user through an application securely stored and encrypted.</p>
                </div>
              </div>
            </div>

          </div>


        </div><!-- .col-md-12 -->

      </div><!-- .row -->

    </div><!-- .container -->

  </section>

  <!-- Services section end -->

  <!-- Callout section start -->

  <section class="callout">

    <div class="container">

      <div class="row">

        <div class="col-md-3 hidden-xs wow bounceInLeft">
          <h3 translate="CALLOUT.TITLE">Actualmente</h3>
        </div>

        <div class="col-md-9 headline nomargin wow bounceInDown">
          <h3 translate="CALLOUT.COMPANY-NAME">trabajando en PartyFiesta S.A.</h3>
          <p translate="CALLOUT.COMPANY-DESCRIPTION">Puesta a punto de los puntos de venta, instalación, configuración y programaión del software de las tiendas. Integración de las tiendas en la base de datos control y mantenimiento de las mismas. Administración, mantenimiento y reparación de  los sistemas en central.</p>
          <a href="#contact" class="btn btn-default btn-custom-2 callout-btn" translate="CALLOUT.CONTACT-BUTTON"><i class="fa fa-paper-plane-o icon-before"></i> Contacta conmigo</a>
        </div>

      </div><!-- .row -->

    </div><!-- .container -->

  </section>

  <!-- Callout section end -->

  <!-- Resume section start -->

  <section id="resume" class="section">

    <div class="container">

      <div class="row">

        <div class="col-md-12 headline wow bounceInDown">
          <h2 translate="RESUME.TITLE">Resumen</h2>
          <p translate="RESUME.SUBTITLE">Mi educación y mi experiencia.</p>
        </div>

      </div><!-- .row -->

      <div class="row resume-items">

        <div class="col-md-3 wow bounceInLeft">
          <h3 translate="RESUME.STUDY.TITLE">Estudios</h3>
        </div>

        <div class="col-md-6 col-sm-8 resume-item wow bounceInUp">
          <h4 translate="RESUME.STUDY.STUDIES.STUDY1.TITLE">Técnico microinformático</h4>
          <p translate="RESUME.STUDY.STUDIES.STUDY1.PARAGRAPH">Estudié en STUCOM un grado médio de informática enfocado a la administradción de sistemas y al uso de las nuevas tecnologías.</p>
          <hr class="hidden-xs">
        </div>

        <div class="col-md-3 col-sm-4 resume-place wow bounceInRight">
          <h4><i class="fa fa-suitcase"></i> <a href="http://stucom.com" translate="RESUME.STUDY.STUDIES.STUDY1.WHERE">STUCOM</a></h4>
          <i class="fa fa-calendar"></i> {{ 'RESUME.STUDY.STUDIES.STUDY1.YEAR' | translate }}
          <hr class="visible-xs">
        </div>

        <div class="col-md-6 col-md-offset-3 col-sm-8 resume-item wow bounceInUp">
          <h4 translate="RESUME.STUDY.STUDIES.STUDY2.TITLE">Desarollo web</h4>
          <p translate="RESUME.STUDY.STUDIES.STUDY2.PARAGRAPH">Grado superior de desarollo web dónde he aprendido varias tecnologías web.</p>
          <hr class="hidden-xs">
        </div>

        <div class="col-md-3 col-sm-4 resume-place wow bounceInRight">
          <h4><i class="fa fa-suitcase"></i> <a href="http://stucom.com" translate="RESUME.STUDY.STUDIES.STUDY2.WHERE">STUCOM</a></h4>
          <i class="fa fa-calendar"></i> {{ 'RESUME.STUDY.STUDIES.STUDY2.YEAR' | translate }}
          <hr class="visible-xs">
        </div>

        <div class="col-md-6 col-md-offset-3 col-sm-8 resume-item wow bounceInUp">
          <h4 translate="RESUME.STUDY.STUDIES.STUDY3.TITLE">Desarollo multiplataforma</h4>
          <p translate="RESUME.STUDY.STUDIES.STUDY3.PARAGRAPH">Grado superior de desarrollo web dónde aprenderé a programar aplicaciones en Android/IOS y profundizar con Spring</p>
          <hr class="hidden-xs">
        </div>

        <div class="col-md-3 col-sm-4 resume-place wow bounceInRight">
          <h4><i class="fa fa-suitcase"></i> <a href="http://stucom.com" translate="RESUME.STUDY.STUDIES.STUDY3.WHERE">STUCOM</a></h4>
          <i class="fa fa-calendar"></i> {{ 'RESUME.STUDY.STUDIES.STUDY3.YEAR' | translate }}
          <hr class="visible-xs">
        </div>

      </div><!-- .row -->

      <div class="row resume-items">

        <div class="col-md-3 wow bounceInLeft">
          <h3 translate="RESUME.EXPERIENCE.TITLE">Experiencias</h3>
        </div>

        <div class="col-md-6 col-sm-8 resume-item wow bounceInUp">
          <h4 translate="RESUME.EXPERIENCE.WORKS.WORK1.TITLE">Administrador de Sistemas</h4>
          <p translate="RESUME.EXPERIENCE.WORKS.WORK1.PARAGRAPH">Reparación, montaje y puesta a punto de los equipos de la empresa. Monitorización de la red para un uso adequado.</p>
          <hr class="hidden-xs">
        </div>

        <div class="col-md-3 col-sm-4 resume-place wow bounceInRight">
          <h4><i class="fa fa-suitcase"></i> <a href="http://cesf.es" translate="RESUME.EXPERIENCE.WORKS.WORK1.WHERE">CESF</a></h4>
          <i class="fa fa-calendar"></i> {{ 'RESUME.EXPERIENCE.WORKS.WORK1.YEAR' | translate }}
          <hr class="visible-xs">
        </div>

        <div class="col-md-6 col-md-offset-3 col-sm-8 resume-item wow bounceInUp">
          <h4 translate="RESUME.EXPERIENCE.WORKS.WORK2.TITLE">Diseño/maquetación web</h4>
          <p translate="RESUME.EXPERIENCE.WORKS.WORK2.PARAGRAPH">Diseño de la página web y despliegue de la misma</p>
          <hr class="hidden-xs">
        </div>

        <div class="col-md-3 col-sm-4 resume-place wow bounceInRight">
          <h4><i class="fa fa-suitcase"></i> <a href="http://citsalp.com" translate="RESUME.EXPERIENCE.WORKS.WORK2.WHERE">Citsalp S.L</a></h4>
          <i class="fa fa-calendar"></i> {{ 'RESUME.EXPERIENCE.WORKS.WORK2.YEAR' | translate }}
          <hr class="visible-xs">
        </div>

        <div class="col-md-6 col-md-offset-3 col-sm-8 resume-item wow bounceInUp">
          <h4 translate="RESUME.EXPERIENCE.WORKS.WORK3.TITLE">Desarollador web</h4>
          <p translate="RESUME.EXPERIENCE.WORKS.WORK3.PARAGRAPH">Diseño de la página web y creación de una intranet para el restaurante, con menús editables a través de la web.</p>
          <hr class="hidden-xs">
        </div>

        <div class="col-md-3 col-sm-4 resume-place wow bounceInRight">
          <h4><i class="fa fa-suitcase"></i> <a href="http://canbalaschdebaix.com" translate="RESUME.EXPERIENCE.WORKS.WORK3.WHERE">Can Balasch de Baix</a></h4>
          <i class="fa fa-calendar"></i> {{ 'RESUME.EXPERIENCE.WORKS.WORK3.YEAR' | translate }}
          <hr class="visible-xs">
        </div>

        <div class="col-md-6 col-md-offset-3 col-sm-8 resume-item wow bounceInUp">
          <h4 translate="RESUME.EXPERIENCE.WORKS.WORK4.TITLE">Programador web</h4>
          <p translate="RESUME.EXPERIENCE.WORKS.WORK4.PARAGRAPH">Programación de una plataforma web para una imobiliaria de Torrelles de Llobregat</p>
          <hr class="hidden-xs">
        </div>

        <div class="col-md-3 col-sm-4 resume-place wow bounceInRight">
          <h4><i class="fa fa-suitcase"></i> <a href="https://github.com/arnaugarcia/realstatecamp" translate="RESUME.EXPERIENCE.WORKS.WORK4.WHERE">AssessoriaTorrelles</a></h4>
          <i class="fa fa-calendar"></i> {{ 'RESUME.EXPERIENCE.WORKS.WORK4.YEAR' | translate }}
          <hr class="visible-xs">
        </div>

      </div><!-- .row -->

      <div class="row">

        <div class="col-md-6 col-md-offset-3 wow bounceInUp">
          <a href="assets/cv/CV_ArnauGarcia_rev2.pdf" class="btn btn-default btn-custom-2" translate="RESUME.CV-BUTTON"><i class="fa fa-cloud-download icon-before"></i> Descarga CV</a>
        </div>

      </div><!-- .row -->

    </div><!-- .container -->

  </section>

  <!-- Resume section end -->

  <!-- Callout section start -->

  <section id="clients" class="callout">

    <div class="container">

      <div class="row">

        <div class="col-md-3 hidden-xs wow bounceInLeft">
          <h3>Tecnologías que he aprendido</h3>
        </div>

        <div class="col-md-9 wow bounceInRight">

          <div id="owl-clients" class="owl-carousel">

            <div class="owl-item">
              <img src="assets/images/java.png" alt="Java">
              <h4 translate="TECHNOLOGIES.TECHNOLOGY1">Java</h4>
            </div>

            <div class="owl-item">
              <img src="assets/images/spring.png" alt="Spring Framework">
              <h4 translate="TECHNOLOGIES.TECHNOLOGY2">Spring</h4>
            </div>

            <div class="owl-item">
              <img src="assets/images/html5.png" alt="HTML5">
              <h4 translate="TECHNOLOGIES.TECHNOLOGY3">HTML5</h4>
            </div>

            <div class="owl-item">
              <img src="assets/images/angular.png" alt="Angular">
              <h4 translate="TECHNOLOGIES.TECHNOLOGY4">Angular 4</h4>
            </div>

            <div class="owl-item">
              <img src="assets/images/php.png" alt="PHP">
              <h4 translate="TECHNOLOGIES.TECHNOLOGY5">PHP</h4>
            </div>

            <div class="owl-item">
              <img src="assets/images/git.png" alt="Git">
              <h4 translate="TECHNOLOGIES.TECHNOLOGY6">Git</h4>
            </div>

            <div class="owl-item">
              <img src="assets/images/bootstrap.png" alt="Bootstrap" height="160" width="160">
              <h4 translate="TECHNOLOGIES.TECHNOLOGY7">Bootstrap</h4>
            </div>

            <div class="owl-item">
              <img src="assets/images/javascript.png" alt="Javascript" height="160" width="160">
              <h4 translate="TECHNOLOGIES.TECHNOLOGY8">JavaScript</h4>
            </div>

            <div class="owl-item">
              <img src="assets/images/mysql.png" alt="MySql" width="160" height="160">
              <h4 translate="TECHNOLOGIES.TECHNOLOGY9">MySql</h4>
            </div>

          </div>

        </div><!-- .col-md-9 -->

      </div><!-- .row -->

    </div><!-- .container -->

  </section>

  <!-- Callout section end -->

  <!-- Portfolio section start -->

  <section id="portfolio" class="section">

    <div class="container">

      <div class="row">

        <div class="col-md-12 headline wow bounceInDown">
          <h2 translate="PORTFOLIO.TITLE">Portfolio</h2>
          <p translate="PORTFOLIO.SUBTITLE">Mis mejores trabajos.</p>
        </div>

        <div class="col-md-4 col-sm-6 wow bounceInLeft">
          <a title="Erasmus a Malta para desenvolupar una web para la contratación de estudiantes de otros países" alt="Erasmus web malta">
            <div class="portfolio-item">
              <div class="portfolio-item-preview">
                <img src="assets/images/malta.jpg" alt="Erasmus en Malta">
              </div>
              <div class="portfolio-item-description">
                <h3 translate="PORTFOLIO.ITEMS.ITEM1.TITLE">Erasmus en Malta</h3>
                <p translate="PORTFOLIO.ITEMS.ITEM1.SUBTITLE">STUCOM</p>
              </div>
            </div>
          </a>
        </div>

        <div class="col-md-4 col-sm-6 wow bounceInUp">
          <a href="assets/images/angular_camp.jpg" class="pop-up" title="Junto con varios compañeros hablamos sobre Jhipster y presentamos nuestros proyectos de final de curso.">
            <div class="portfolio-item">
              <div class="portfolio-item-preview">
                <img src="assets/images/angular_camp.jpg" alt="Presentador en AngularCamp 2017" >
              </div>
              <div class="portfolio-item-description">
                <h3 translate="PORTFOLIO.ITEMS.ITEM2.TITLE">AngularCamp</h3>
                <p translate="PORTFOLIO.ITEMS.ITEM2.SUBTITLE">Presentador en AngularCamp 2017</p>
              </div>
            </div>
          </a>
        </div>

        <div class="col-md-4 col-sm-6 wow bounceInRight">
          <a href="assets/images/assessoriatorrelles.jpg" class="pop-up" title="Programación de la plataforma">
            <div class="portfolio-item">
              <div class="portfolio-item-preview">
                <img src="assets/images/assessoriatorrelles.jpg" alt="Assessoria Torrelles">
              </div>
              <div class="portfolio-item-description">
                <h3 translate="PORTFOLIO.ITEMS.ITEM3.TITLE">AssessoriaTorrelles</h3>
                <p translate="PORTFOLIO.ITEMS.ITEM3.SUBTITLE">Programación de AssessoriaTorrelles</p>
              </div>
            </div>
          </a>
        </div>

        <div class="col-md-4 col-sm-6 wow bounceInUp" data-wow-delay=".2s">
          <a href="assets/images/jHipster.jpg" class="pop-up" title="Aprendiendo jHiptser en Stucom">
            <div class="portfolio-item">
              <div class="portfolio-item-preview">
                <img src="assets/images/jHipster.jpg" alt="Jhipster">
              </div>
              <div class="portfolio-item-description">
                <h3 translate="PORTFOLIO.ITEMS.ITEM4.TITLE">Aprendiendo JHipster</h3>
                <p translate="PORTFOLIO.ITEMS.ITEM4.SUBTITLE">Stucom</p>
              </div>
            </div>
          </a>
        </div>

        <div class="col-md-4 col-sm-6 wow bounceInUp" data-wow-delay=".4s">
          <a href="https://github.com/arnaugarcia/CursoAngular4">
            <div class="portfolio-item">
              <div class="portfolio-item-preview">
                <img src="assets/images/angular4.jpg" alt="Curso de Angular 4">
              </div>
              <div class="portfolio-item-description">
                <h3 translate="PORTFOLIO.ITEMS.ITEM5.TITLE">Angular 4</h3>
                <p translate="PORTFOLIO.ITEMS.ITEM5.SUBTITLE">Curso de angular 4 en udemy.com</p>
              </div>
            </div>
          </a>
        </div>

        <div class="col-md-4 col-sm-6 wow bounceInUp" data-wow-delay=".6s">
          <a href="assets/images/halo.jpg" class="pop-up" title="Desenvolupando una web para el competitivo de Halo">
            <div class="portfolio-item">
              <div class="portfolio-item-preview">
                <img src="assets/images/halo.jpg" alt="HCSSpain.es">
              </div>
              <div class="portfolio-item-description">
                <h3 translate="PORTFOLIO.ITEMS.ITEM6.TITLE">HCSSpain.es</h3>
                <p translate="PORTFOLIO.ITEMS.ITEM6.SUBTITLE">Desenvolupando una web para el competitivo de  HALO a nivel Español</p>
              </div>
            </div>
          </a>
        </div>

      </div><!-- .row -->

    </div><!-- .container -->

  </section>

  <!-- Portfolio section end -->

  <!-- Contact section start -->

  <section id="contact" class="section">

    <div class="container">

      <div class="row">

        <div class="col-md-12 headline wow bounceInLeft">
          <h2 translate="CONTACT.TITLE">Contacta conmigo</h2>
          <p translate="CONTACT.SUBTITLE">Puedes contactar conmigo enviando un email por aquí o por teléfono</p>
        </div>

        <div class="col-md-6 wow bounceInUp">

          <ul class="icon-list">
            <li translate="CONTACT.ADDRESS"><i class="fa fa-fw fa-map-marker"></i>08629 - Torrelles de Llobregat</li>
            <li translate="CONTACT.PHONE"><i class="fa fa-fw fa-phone"></i>692 46 46 45</li>
            <li translate="CONTACT.EMAIL"><i class="fa fa-fw fa-envelope-o"></i><a href="mailto:">arnau.garcia.gallego@gmail.com</a></li>
            <li translate="CONTACT.WEB"><i class="fa fa-fw fa-globe"></i><a href="">http://arnaugarcia.com</a></li>
          </ul>

        </div>

        <div class="col-md-6 wow bounceInRight">

          <form id="contact-form" role="form">

            <div class="form-group">
              <label class="sr-only" for="c_name" translate="CONTACT.FORM.NAME">Nombre</label>
              <input type="text" id="c_name" class="form-control" name="c_name" placeholder="{{ 'CONTACT.FORM.NAME' | translate }}">
            </div>

            <div class="form-group">
              <label class="sr-only" for="c_email" translate="CONTACT.FORM.EMAIL">Correo electrónico</label>
              <input type="email" id="c_email" class="form-control" name="c_email" placeholder="{{ 'CONTACT.FORM.EMAIL' | translate }}">
            </div>

            <div class="form-group">
              <textarea class="form-control" id="c_message" name="c_message" rows="7" placeholder="{{ 'CONTACT.FORM.MESSAGE' | translate }}"></textarea>
            </div>

            <button type="submit" class="btn btn-custom-1">
              <i class="fa fa-bullhorn icon-before"></i> {{ 'CONTACT.FORM.BUTTON' | translate }}
            </button>
          </form>

          <div class="ajax-response"></div>

        </div>

      </div><!-- .row -->

    </div><!-- .container -->

  </section>

  <!-- Contact section end -->

  <!-- Footer start -->

  <footer id="footer">

    <div class="container">

      <div class="row">

        <div class="col-md-12">
          <p class="copy" translate="FOOTER.CONTENT">
            © 2017 Arnau García Gallego.
          </p>
        </div>

      </div><!-- .row -->

    </div><!-- .container -->

  </footer>

  <!-- Footer end -->

</div><!-- .wrapper -->
