<!-- Technologies -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="m-title c-align">
                <h2>{{'TECHNOLOGIES.TITLE' | translate}}</h2>
            </div>
        </div>
        <div class="col-md-12">
            <owl-carousel [options]="carouselOptions" [items]="technologies">
                <div class="client" *ngFor="let technology of technologies">
                    <picture>
                        <source [srcset]="'assets/images/technologies/' + technology.imageName + '.webp'" type="image/webp">
                        <img [srcset]="'assets/images/technologies/' + technology.imageName + '.png'" [alt]="technology.title">
                    </picture>
                </div>
            </owl-carousel>
        </div>
    </div>
</div>
<!-- Technologies end-->
