.navbar-brand {
    color: white;
    font-weight: 800;
    font-family: Montserrat,Arial,serif;
}

.brand-dark {
    color: black;
}

@media (max-width: 990px) {
    .navbar-brand {
        color: #202020;
    }
}

.menu-item-active {
    color: #e41919 !important;
}
