.navbar-brand {
    color: white;
    font-family: Montserrat,Arial,serif;
}

@media (max-width: 990px) {
    .navbar-brand {
        color: black;
    }
}

.menu-item-active {
    color: #e41919 !important;
}
