<!-- Footer-->
<footer class="footer">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6"><span class="copyright">© {{year}} <a href="#">Arnau Garcia</a>, All Rights Reserved.</span>
            </div>
            <div class="col-md-6">
                <ul class="social-icons">
                    <li *ngFor="let socialNetwork of socialNetworks">
                        <a [href]="socialNetwork.link"
                           target="_blank"
                           rel="noreferrer"
                           [attr.aria-label]="socialNetwork.label | translate">
                            <fa-icon [icon]="['fab', socialNetwork.icon]"></fa-icon>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- Footer end-->
