<div class="video-background">
    <div class="video-foreground">
        <iframe src="https://www.youtube.com/embed/BKkzWLwdByw?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=BKkzWLwdByw&modestbranding=1&playsinline=1" frameborder="0" allow="autoplay; encrypted-media"  allowfullscreen></iframe>
    </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="h1 m-b-15" translate="INTRO.TITLE">Arnau García</h1>
      <div id="typed-strings"><span>Visual designer</span><span>Front-end developer</span></div>
      <h1 class="h6"><span id="typed"></span></h1>
    </div>
  </div>
</div>