<div scrollSpy [spiedTags]="['SECTION']" id="main">

    <!-- Page Header-->
    <section class="module-header full-height parallax bg-dark bg-dark-30 header-light" id="home">
        <app-header></app-header>
    </section>
    <!-- Page Header end-->

    <!-- Profile-->
    <section class="module" id="profile">
        <app-profile></app-profile>
    </section>
    <!-- Profile end-->

    <!-- Portfolio-->
    <section class="module module-gray" id="portfolio">
        <app-portfolio></app-portfolio>
    </section>
    <!-- Portfolio end-->

    <!-- Services-->
    <section class="module module-dark" id="services">
        <app-services></app-services>
    </section>
    <!-- Services end-->

    <!-- Resume-->
    <section class="module module-gray" id="resume">
        <app-resume></app-resume>
    </section>
    <!-- Resume end-->

    <!-- Technologies-->
    <section class="module module-dark" id="projects">
        <app-technologies></app-technologies>
    </section>
    <!-- Technologies-->

    <!-- Projects-->
    <section class="module module-gray">
        <app-projects></app-projects>
    </section>
    <!-- Projects End-->

    <!-- Contact-->
    <section class="module" id="contact">
        <app-contact></app-contact>
    </section>

    <!-- Map-->
    <section class="maps-container" id="map">
        <app-map *ngIf="loadMap"></app-map>
    </section>
    <!-- Map end-->
</div>
