.navbar-brand {
    color: white;
    font-weight: 800;
    font-family: Montserrat,Arial,serif;
}

.brand-dark {
    color: black;
}

@media (max-width: 990px) {
    .navbar-brand {
        color: #202020;
    }
}

.menu-item-active {
    color: #4a90e2;
}

.header.header-small .inner-nav>ul>li>a {
    color: #202020;
}

.header.header-small .inner-nav>ul>li>a:hover {
    color: #4a90e2;
}

@media (max-width: 990px) {
    .header.header-small .inner-nav>ul>li>a {
        color: white;
    }
}

.alert-success {
    color: white;
    background-color: #2ecc71;
}

.alert-danger {
    color: white;
    background-color: #e41919;
    border-color: #f5c6cb;
}
