<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="m-title c-align">
        <h2>{{'RESUME.TITLE' | translate}}</h2>
        <h6>{{'RESUME.SUBTITLE' | translate}}</h6>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ul class="timeline">
        <li *ngFor="let item of resumeItems">
          <div class="timeline-badge"></div>
          <div class="timeline-panel">
            <div class="timeline-preview">
              <picture>
                <source [srcset]="'assets/images/resume/' + item.image + '.webp'" type="image/webp">
                <source [srcset]="'assets/images/resume/' + item.image + '.png'" type="image/png">
                <img [srcset]="'assets/images/resume/' + item.image + '.png'" [alt]="item.title | translate">
              </picture>
            </div>
            <div class="timeline-body">
              <h5 class="timeline-title">{{item.title | translate}}</h5>
              <h6 class="timeline-description">{{item.subtitle | translate}} | {{item.year | translate}}</h6>
              <p>{{item.description | translate}}</p>
            </div>
          </div>
        </li>
        <!--<div class="timeline-top"></div>-->
      </ul>
      <div class="text-center">
        <a class="btn btn-lg btn-gray" href="assets/resume/CV_ArnauGarcia_rev3.pdf">
          <span>{{'RESUME.CV-BUTTON' | translate}}</span>
        </a>
      </div>
    </div>
  </div>
</div>
