<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="m-title c-align">
        <h2 translate="PROFILE.TITLE">Arnau Garcia</h2>
        <h6 translate="PROFILE.SUBTITLE">Visual Designer & Front-end Developer</h6>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <p>
        <img src="assets/img/arnaugarcia.jpg" alt="Arnau Garcia">
      </p>
    </div>
    <div class="col-md-4">
      <h5 translate="PROFILE.TEXT.TITLE">Profesional Profile</h5>
      <p translate="PROFILE.TEXT.PARAGRAPH1"></p>
      <p translate="PROFILE.TEXT.PARAGRAPH2"></p>
    </div>
    <div class="col-md-4">
      <h5 translate="PROFILE.SKILLS.TITLE">My Skills</h5>
      <div class="progress-item">
        <div class="progress-title" translate="PROFILE.SKILLS.SKILL1">Java</div>
          <div class="progress">
              <div class="progress-bar progress-bar-brand" aria-valuenow="90" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                  <span class="pb-number-box">
                      <span class="pb-number"></span>%
                  </span>
              </div>
          </div>
      </div>
      <div class="progress-item">
        <div class="progress-title" translate="PROFILE.SKILLS.SKILL2">UX Design</div>
          <div class="progress">
              <div class="progress-bar progress-bar-brand" aria-valuenow="80" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                  <span class="pb-number-box">
                      <span class="pb-number"></span>%
                  </span>
              </div>
          </div>
      </div>
      <div class="progress-item">
        <div class="progress-title" translate="PROFILE.SKILLS.SKILL3">HTML / CSS3 / SASS</div>
        <div class="progress">
            <div class="progress">
                <div class="progress-bar progress-bar-brand" aria-valuenow="40" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                  <span class="pb-number-box">
                      <span class="pb-number"></span>%
                  </span>
                </div>
            </div>
        </div>
      </div>
      <div class="progress-item">
        <div class="progress-title" translate="PROFILE.SKILLS.SKILL4">Gulp</div>
          <div class="progress">
              <div class="progress-bar progress-bar-brand" aria-valuenow="70" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                  <span class="pb-number-box">
                      <span class="pb-number"></span>%
                  </span>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
