<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="m-title c-align">
        <h2>{{'PROFILE.TITLE' | translate}}</h2>
        <h6>{{'PROFILE.SUBTITLE' | translate}}</h6>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <p>
        <picture>
          <source srcset="assets/images/arnaugarcia.jxr" type="image/vnd.ms-photo">
          <source srcset="assets/images/arnaugarcia.webp" type="image/webp">
          <img srcset="assets/images/arnaugarcia.jpg" alt="Arnau Garcia">
        </picture>
      </p>
    </div>
    <div class="col-md-4">
      <h5>{{'PROFILE.TEXT.TITLE' | translate}}</h5>
      <p>{{'PROFILE.TEXT.PARAGRAPH1' | translate}}</p>
      <p>{{'PROFILE.TEXT.PARAGRAPH2' | translate}}</p>
      <app-social></app-social>
    </div>
    <div class="col-md-4">
      <h5>{{'PROFILE.SKILLS.TITLE' | translate}}</h5>
      <div class="progress-item">
        <div class="progress-title">{{'PROFILE.SKILLS.SKILL1' | translate}}</div>
          <div class="progress">
              <div class="progress-bar progress-bar-brand" aria-valuenow="90" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
      </div>
      <div class="progress-item">
        <div class="progress-title">{{'PROFILE.SKILLS.SKILL2' | translate}}</div>
          <div class="progress">
              <div class="progress-bar progress-bar-brand" aria-valuenow="80" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
      </div>
        <div class="progress-item">
            <div class="progress-title">{{'PROFILE.SKILLS.SKILL3' | translate}}</div>
            <div class="progress">
                <div class="progress-bar progress-bar-brand" aria-valuenow="90" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
      <div class="progress-item">
        <div class="progress-title">{{'PROFILE.SKILLS.SKILL4' | translate}}</div>
          <div class="progress">
              <div class="progress-bar progress-bar-brand" aria-valuenow="70" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
      </div>
    </div>
  </div>
</div>
