<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="m-title c-align">
        <h2>{{'PROFILE.TITLE' | translate}}</h2>
        <h6>{{'PROFILE.SUBTITLE' | translate}}</h6>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <p>
        <picture>
          <source srcset="assets/images/arnaugarcia.jxr" type="image/vnd.ms-photo">
          <source srcset="assets/images/arnaugarcia.webp" type="image/webp">
          <img srcset="assets/images/arnaugarcia.jpg" alt="Arnau Garcia">
        </picture>
      </p>
    </div>
    <div class="col-md-4">
      <h5>{{'PROFILE.TEXT.TITLE' | translate}}</h5>
      <p>{{'PROFILE.TEXT.PARAGRAPH1' | translate}}</p>
      <p>{{'PROFILE.TEXT.PARAGRAPH2' | translate}}</p>
      <app-social></app-social>
    </div>
    <div class="col-md-4 skills">
      <app-skills></app-skills>
    </div>
  </div>
</div>
